* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent_box {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.child_box {
  width: 200px;
  height: 200px;
  background-color: lightgray;
}
